body{
    background-color: red;
}
#outer{
    width: 450px;
    margin:100px auto;
    border-radius:20px;
    background: linear-gradient(45deg,green 50%,blue 50%);
    padding: 40px;
}
#search{
    height:50px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#search>input{
    width: 75%;
    height: 40px;
    border-radius: 20px;
    border: 0px;
    padding-left: 20px;
    font-size: 20px;
    color:navy ;
    background-color: aqua;

}
#search>input::placeholder{
    color:cadetblue;
}
#search>input:focus{
    outline: none;
}
#search>img{
    height: 40px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 50%;
}
#main{
    text-align: center;
    color: white;
    display: none;
}
#main>img{
    height: 150px;
}
#main>h3{
    font-size: 40px;
    margin: 0;
}
#main>h4{
    margin: 10px 0;
    font-size: 35px;
}
